<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/head.ejs") %>
    <title>Enigmatic Bot Home</title>

</head>

<body>
  <h1>@Northschmoders: Enigmatic Twitter Bot</h1>

  <nav>
    <a href="/">Home</a>
    |
    <a href="/results">Results</a>
  </nav>
  <div>
    <p class="mainp">Using IBM's Watson API 'Natural Language Understanding' module, we've created an enigmatic twitter bot which will tweet
      to a user of your choice with both a 'nice' and a 'nasty' message based on insights obtained from the tweeter's last
      100 tweets. To try it out, enter a twitter username into this box:</p>

    <%- include("../partials/form.ejs") %>
  </div>
</body>

</html>