<!DOCTYPE html>
<html>

<head>
  <title>
    Results for

  </title>

</head>

<body>
  <h1>@Northschmoders: Enigmatic Twitter Bot</h1>

  <nav>
    <a href="/">Home</a>
    |
    <a href="/results">Results</a>
  </nav>
  <div>
    <p>here are the results for
      <span class='moving_bar'>
        <%=username %>

      </span>
    </p>
    <p>
      Paul tweet:
      <%=paul %>
    </p>
    <p>
      Sam tweet:
      <%=sam %>
    </p>
  </div>
  <%- include("../partials/form.ejs") %>
</body>

</html>