<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
</head>

<body>
  <h1>@Northschmoders: Enigmatic Twitter Bot</h1>

  <nav>
    <a href="/">Home</a>
    |
    <a href="/api/results">Results</a>
  </nav>
  <div>
    <p>here are the results for
      <span class='moving_bar'>
        <%=username %>

      </span>
    </p>
    <p>
      Paul tweet:
      <%=paul%>
    </p>
    <p>
      Sam tweet:
      <%=sam%>
    </p>
  </div>
</body>

</html>