<!DOCTYPE html>
<html>

<head>
  <title>
    Results for

  </title>

</head>

<body>
  <h1>@Northschmoders: Enigmatic Twitter Bot</h1>

  <nav>
    <a href="/">Home</a>
    |
    <a href="/results">Results</a>
  </nav>
  <div>
    <p>here are the results for
      <span class='moving_bar'>
        <%=username %>

      </span>
    </p>
    <p>
      <blockquote class="twitter-tweet" data-lang="en">
        <p lang="in" dir="ltr">hiayayayaya</p>&mdash; northschmoders (@northschmoders)
        <a href="https://twitter.com/northschmoders/status/987287423242657792?ref_src=twsrc%5Etfw">April 20, 2018</a>
      </blockquote>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> Paul tweet:
      <%=paul %>
    </p>
    <p>
      Sam tweet:
      <%=sam %>
    </p>
  </div>
  <%- include("../partials/form.ejs") %>
</body>

</html>